*~
config/database.yml
log/*
tmp/*
db/schema.rb
.DS_Store
db/*.sqlite3 
coverage
doc/app/* 
public/index.html
public/eventos.html
public/procedimentos.html
public/aniversariantes.html
public/paginas/*
public/eventos
public/eventos/*
public/procedimentos
public/procedimentos/*
public/aniversariantes
public/aniversariantes/*
public/uploads
public/uploads/*
public/system
public/system/*
