<h1>Alteração/Adição de Procedimentos na INTRANET da Callis</h1>
<p>&nbsp;</p>
<p>O usuário <%= @user.name %>, alterou/adicionou informações na área de Procedimentos.</p>
<p><strong>Procedimento:</strong> <%= @procedure.name %></p>