<ul id="procedures" class="full">
<% @procedures.each do |procedure| %>	
	<li <%= cycle("", "class='odd'") %>>
		<% link_to procedure_path(procedure.permalink) do %>
			<h3><%= procedure.name.summary 140 %></h3>
			<big>Departamento: <%= procedure.department.name rescue "" %></big>
			<small>Quem faz? <%= procedure.user.name rescue "" %></small>
		<% end %>
	</li>
<% end %>
</ul>