<h1>Procedimentos &raquo; Busca
	<%= render :partial => 'search' %>
</h1>
<%= render :partial => 'list' %>
<div id="navigation"><%= link_to "&laquo; Ver Todos os Procedimentos", procedures_path %></div>